<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance</title>
  </head>
  <body>
    <h1>Maintenance</h1>
    <p>We'll be back soonish!</p>
    {{> footer}}
  </body>
</html>
